<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Chat room</title>
    <meta  charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <script src="/javascripts/chat.js"></script>
</head>
<body>
<div class="question-block">
    <h3>Question</h3>
    <p><%= qcontent %></p>
</div>
<div class="chat_window">
  <div class="top_menu">
    <div class="title">Chat</div>
      <input type="hidden" class="qn-id" value="<%= question %>"/>
  </div>
  <ul class="messages"></ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Type your message here..." />
    </div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
    <div>
      <a id="des" class="btn btn-default glyphicon glyphicon-paperclip">Description</a>
      <a id="his" class="btn btn-default glyphicon glyphicon-paperclip">History</a>
      <a id="news" class="btn btn-default glyphicon glyphicon-paperclip">NewsFeed</a>
      <a id="com" class="btn btn-default glyphicon glyphicon-paperclip">Comments</a>
      <a id="sug" class="btn btn-default glyphicon glyphicon-paperclip">Suggestion</a>
    </div>
  </div>
</div>
<div class="util-buttons">
    <div id="wiki" class="gen-button">
        <div class="icon"></div>
        <div class="text">Generate Wiki</div>
    </div>
    <div id="statistics" class="gen-button">
        <div class="icon"></div>
        <div class="text">Show Statistics</div>
    </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>
</body>
</html>