<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="/stylesheets/visual.css">
</head>
<body>
<h2>
    Flare code size<br>
    hierarchical bar chart
</h2>
<script type="text/javascript" src="/javascripts/d3/d3.js"></script>
<script type="text/javascript" src="/javascripts/d3/d3.layout.js"></script>
<script type="text/javascript" src="/javascripts/visual.js"></script>
</body>
</html>
